# Drizzle
DATABASE_URL=file:data/local.db
ORIGIN="http://localhost:5173"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET="17foxk2iIFMyTozpZQEft9MzIIFqrF9U+TmLdgzwF9c="
OPENAI_API_KEY=""

# Seed
SEED_ADMIN_EMAIL="admin@loescher.local"
SEED_ADMIN_PASSWORD="loescher-dev-admin-2026!ChangeMe"
